{% extends "layoutMainLeft.html" %}
{% from "macros/utility.html" import renderPagination, renderFlashedMessages, renderArticle, renderUserInfo %}


{% block css %}
{{ super() }}
<link href="{{ url_for('static', filename='css/renderArticle.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='css/main/subscriptions.css') }}" rel="stylesheet"/>
{% endblock css %}


{% block title %}Blog-关注{% endblock title %}


{% block subscriptionsActived %}class="active"{% endblock subscriptionsActived %}


{% block main %}

{{ renderFlashedMessages('warning') }}

{% if not followedCount %}
<div id="box-3d">
    <h4>您还未关注任何人，<a href="{{ url_for('main.index') }}"><small>去逛逛？</small></a></h4>
</div>
{% elif not pagination or not pagination.items %}

<div id ="box-3d">
    <h4>您已关注{{ followedCount }}人，但并没有文章...<small><a href="{{ url_for('main.index') }}">去逛逛？</a></small></h4>
</div>

{% else %}

<div id="summary-block">
    <span class="label label-info font-size-lg padding-sm">已关注 <span class="badge">{{ current_user.followedRecords.count() }}</span></span>
    <span class="label label-info font-size-lg padding-sm">文章 <span class="badge">{{ current_user.getFollowedArticleCount() }}</span></span>
</div>

{% for article in pagination.items %}
{{ renderArticle(article) }}
{% endfor %}

<div id="pagination">
    <center>
        {{ renderPagination(pagination, 'main.subscriptions') }}
    </center>
</div>

{% endif %}

{% endblock main %}


{% block extra %}
{% if current_user.is_authenticated %}
{{ renderUserInfo(current_user) }}
{% else %}
<h4 class="text-center">您还未登录</h4>
{% endif %}
{% endblock extra %}
