{% extends "base.html" %}
{% from "macros/utility.html" import renderPagination, renderFlashedMessages, renderArticle, renderUserInfo %}

{% block css %}
{{ super() }}
<link href="{{ url_for('static', filename='css/main/base.css') }}" rel="stylesheet"/>
{% endblock css %}

{% block title %}Blog-首页{% endblock title %}


{% block subscriptionsActived %}class="active"{% endblock subscriptionsActived %}


{% block content %}
    <div class="container">
        <div class="row">

            <div class="col-sm-9">

                {{ renderFlashedMessages('warning') }}

                {% if not followedCount %}
                <div id="not-follow-info">
                    <h4>您还未关注任何主题，<a href="{{ url_for('main.index') }}"><small>去逛逛？</small></a></h4>
                </div>
                {% elif not pagination or not pagination.items %}

                <div id ="no-article-info">
                    <h4>您已关注{{ followedCount }}个主题，但并没有文章...<small><a href="{{ url_for('main.index') }}">去逛逛？</a></small></h4>
                </div>

                {% else %}

                <div id="summary-block">
                </div>

                {% for article in pagination.items %}
                {{ renderArticle(article) }}
                {% endfor %}

                <div id="pagination">
                    <center>
                        {{ renderPagination(pagination, 'main.subscriptions') }}
                    </center>
                </div>

                {% endif %}

            </div>

            <div id="extra-info" class="col-sm-3">
                {% if current_user.is_authenticated %}
                {{ renderUserInfo(current_user) }}
                {% else %}
                <h4 class="text-center">您还未登录</h4>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock content %}
