{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "macros/utility.html" import renderFlashedMessages %}

{% block title %}设置{% endblock title %}

{% block content %}
<div class="container">

    {{ renderFlashedMessages('warning') }}

    <div class="box-3d">
        <div>
            <ul class="nav nav-tabs">
                <li role="presentation" {% if baseInfoForm %}class="active"{% endif %}>
                    <a href="{{ url_for('user.setBaseInfo') }}">基本设置</a>
                </li>
                <li role="presentation" {% if passwordForm %}class="active"{% endif %}>
                    <a href="{{ url_for('user.setPassword') }}">密码设置</a>
                </li>
            </ul>
        </div>

        <div>
            {% if baseInfoForm %}
            {{ wtf.quick_form(baseInfoForm) }}
            {% else %}
            {{ wtf.quick_form(passwordForm) }}
            {% endif %}
        </div>
    </div>

</div>
{% endblock content %}
