.white-background {
    background-color: #fff;
}

.gray-background {
    background-color: #eee;
}

#top-navbar-search-form {
    width: 400px;
}

#top-navbar-search-form .input-group {
    width: 100%;
}

.square-corner {
    border-radius: 0px;
}

.top-margin-sm {
    margin-top: 12px;
}

.top-margin {
    margin-top: 18px;
}

.top-margin-lg {
    margin-top: 24px;
}

.nav-center {
    text-align:center;
}

.nav-center > li {
    float:none;
    display:inline-block;
    *display:inline;
    zoom:1;
}

.logo-top-margin {
    margin-top: 100px;
}

.font-size-lg {
    font-size: 15px;
}

.box-3d {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .29), inset 1px 1px 1px rgba(255, 255, 255, .44);
}

.left-padding-sm {
    padding-left: 5px;
}

.right-padding-sm {
    padding-right: 5px;
}

.left-margin-sm {
    margin-left: 8px;
}

.right-margin-sm {
    margin-right: 8px;
}

.no-left-padding {
    padding-left: 0px;
}

.no-padding {
    padding: 0px;
}
